<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51739115622-nni0i3cvetonuv4f60e40pgo6qd0tvla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51739115622-nni0i3cvetonuv4f60e40pgo6qd0tvla</string>
	<key>API_KEY</key>
	<string>AIzaSyBW8HvNZ-M77uRO-C54srgjXxLDjeHkIwA</string>
	<key>GCM_SENDER_ID</key>
	<string>51739115622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swish006</string>
	<key>PROJECT_ID</key>
	<string>swishdb-b2abb</string>
	<key>STORAGE_BUCKET</key>
	<string>swishdb-b2abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51739115622:ios:8da2809d29c268cae0ada7</string>
</dict>
</plist>